<html>
    <head>
        <title>Mi sitio!</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <header>
            <nav>
                <p>Mi sitio!</p>
                <ul>
                    <li>
                        <a href="/peliculas">Ver Peli</a>
                    </li>
                    <li>
                        <a href="/peliculas/crear"> Crear Peli</a>
                    </li>
                    
                </ul>
            </nav>

        </header>